VITE_SUPABASE_URL=https://wdvoyyujxcxftrbjkwjk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indkdm95eXVqeGN4ZnRyYmprd2prIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2ODE4NzYsImV4cCI6MjA5MzI1Nzg3Nn0.z9jVhzA2bZeI5XcD8k3bSXXt6RVAnpGG2h95c9jIBA8

